* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

.titre h1 {
  font-family: "Shrikhand", cursive;
}

.btn--gradient {
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1.1rem;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 1px 1px 3px grey;
  cursor: pointer;
}

.restaurants i:hover {
  animation: heart-fill 0.3s forwards;
}

#heart:checked ~ i {
  animation: heart-fill 1s forwards;
}

@keyframes heart-fill {
  100% {
    transform-origin: top;
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    cursor: pointer;
  }
}
.container {
  animation: container 0.3s 2.3s backwards cubic-bezier(0.68, 0.1, 0.48, 0.95);
}

@keyframes container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.spin {
  animation: spin 2s 0.3s both;
}

.spin2 {
  animation: spin2 2s 0.3s both;
}

.loader {
  animation: loader 2s both;
}

.circle {
  animation: circle 2s ease-in-out;
}

@keyframes loader {
  0% {
    transform: rotate(0deg) scale(0.2);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0.5);
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    background-color: #9356DC;
  }
  50% {
    background-color: #9356DC;
  }
  60% {
    background-color: #99E2D0;
  }
  99% {
    opacity: 1;
  }
  100% {
    background-color: #99E2D0;
    opacity: 0;
  }
}
#mets-input1:checked ~ .check {
  animation: outside 1.5s both;
}

#mets-input1:checked ~ .check i {
  animation: icon 1.5s forwards;
}

#mets-input2:checked ~ .check {
  animation: outside 1.5s both;
}

#mets-input2:checked ~ .check i {
  animation: icon 1.5s forwards;
}

#mets-input3:checked ~ .check {
  animation: outside 1.5s both;
}

#mets-input3:checked ~ .check i {
  animation: icon 1.5s forwards;
}

#mets-input4:checked ~ .check {
  animation: outside 1.5s both;
}

#mets-input4:checked ~ .check i {
  animation: icon 1.5s forwards;
}

#mets-input5:checked ~ .check {
  animation: outside 1.5s both;
}

#mets-input5:checked ~ .check i {
  animation: icon 1.5s forwards;
}

#mets-input6:checked ~ .check {
  animation: outside 1.5s both;
}

#mets-input6:checked ~ .check i {
  animation: icon 1.5s forwards;
}

#mets-input7:checked ~ .check {
  animation: outside 1.5s both;
}

#mets-input7:checked ~ .check i {
  animation: icon 1.5s forwards;
}

#mets-input8:checked ~ .check {
  animation: outside 1.5s both;
}

#mets-input8:checked ~ .check i {
  animation: icon 1.5s forwards;
}

#mets-input9:checked ~ .check {
  animation: outside 1.5s both;
}

#mets-input9:checked ~ .check i {
  animation: icon 1.5s forwards;
}

#mets-input10:checked ~ .check {
  animation: outside 1.5s both;
}

#mets-input10:checked ~ .check i {
  animation: icon 1.5s forwards;
}

@keyframes outside {
  0% {
    transform: translateX(100%);
    width: 0%;
  }
  100% {
    transform: translateX(0%);
    width: 25%;
  }
}
@keyframes icon {
  0% {
    opacity: 0;
    transform: rotateZ(0deg);
  }
  30% {
    opacity: 1;
    transform: rotateZ(360deg);
  }
}
.pad-menu {
  animation: shape 1.5s backwards;
}
.pad-menu--1 {
  animation-delay: 0.15s;
}
.pad-menu--2 {
  animation-delay: 0.3s;
}
.pad-menu--3 {
  animation-delay: 0.45s;
}
.pad-menu--4 {
  animation-delay: 0.6s;
}
.pad-menu--5 {
  animation-delay: 0.75s;
}
.pad-menu--6 {
  animation-delay: 0.9s;
}
.pad-menu--7 {
  animation-delay: 1.05s;
}
.pad-menu--8 {
  animation-delay: 1.2s;
}
.pad-menu--9 {
  animation-delay: 1.35s;
}
.pad-menu--10 {
  animation-delay: 1.5s;
}

@keyframes shape {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  color: white;
  padding: 10px 0px 20px 0px;
}
.footer img {
  width: 150px;
  padding: 20px;
  filter: invert(100%);
}
.footer ul {
  padding-left: 20px;
  list-style-type: none;
}
.footer ul .bold {
  font-weight: 500;
}
.footer ul li {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}
.footer ul li i {
  display: inline-block;
  padding-right: 10px;
  font-size: 15px;
  width: 30px;
}
.footer ul li a {
  text-decoration: none;
  color: white;
}

.loader {
  position: absolute;
  left: 10%;
  top: 28%;
  width: 300px;
  height: 300px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.circle1 {
  position: absolute;
  top: 10px;
  right: 120px;
}
.circle2 {
  position: absolute;
  top: 40px;
  right: 40px;
}
.circle3 {
  position: absolute;
  top: 100px;
  right: 100px;
}
.circle4 {
  position: absolute;
  bottom: 140px;
  right: 3px;
}
.circle5 {
  position: absolute;
  bottom: 55px;
  right: 24px;
}
.circle6 {
  position: absolute;
  bottom: 5px;
  right: 92px;
}
.circle7 {
  position: absolute;
  bottom: 15px;
  left: 70px;
}

.header {
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 3px grey;
  position: relative;
}
.header img {
  padding-top: 25px;
  padding-bottom: 15px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(221, 220, 220, 0.404);
  color: rgba(0, 0, 0, 0.616);
  padding: 10px;
  font-size: 1.1rem;
}
.location span {
  padding-left: 20px;
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px 50px 20px;
  background: rgba(221, 220, 220, 0.205);
}
.exploration__title {
  padding-bottom: 15px;
}
.exploration__txt {
  padding-bottom: 30px;
  color: rgba(0, 0, 0, 0.616);
}

.function {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0% 3%;
  padding: 40px 0px;
  position: relative;
}
.function h1 {
  padding-bottom: 20px;
  align-self: flex-start;
  padding-left: 10px;
}
.function__pad {
  display: flex;
  align-items: center;
  width: 90%;
  background: rgba(221, 220, 220, 0.205);
  padding: 30px 0px;
  margin: 10px 0px;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px #b8b8b8;
  text-decoration: none;
  color: black;
}
.function__pad--number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 7px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  background: #9356DC;
  color: white;
}
.function__pad--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  width: 30px;
  padding-left: 45px;
  color: rgba(0, 0, 0, 0.616);
}
.function__pad--txt {
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 30px;
}
.function__pad:hover {
  background: #f2eafb;
  box-shadow: 2px 2px 20px #b8b8b8;
}
.function__pad:hover i {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0% 3%;
  background-color: rgba(221, 220, 220, 0.205);
}
.restaurants h1 {
  padding-bottom: 20px;
  align-self: flex-start;
  padding-left: 10px;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #b8b8b8;
  color: black;
  text-decoration: none;
}
.restaurants__card img {
  object-fit: cover;
  width: 335px;
  height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.restaurants__card .new {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  background: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px grey;
}
.restaurants__card h2 {
  font-size: 1.1rem;
  padding: 10px 0px 0px 10px;
}
.restaurants__card p {
  padding: 5px 0px 10px 10px;
  font-weight: lighter;
}
.restaurants__card i {
  position: absolute;
  font-size: 20px;
  bottom: 23px;
  right: 25px;
}

.back {
  border: none;
  font-size: 22px;
  background: white;
  color: #3f3f3f;
  cursor: pointer;
  position: absolute;
  left: 25px;
  bottom: 20px;
}

.bg__img {
  position: absolute;
  z-index: 1;
}
.bg__img img {
  object-fit: cover;
  max-width: 100%;
}

.carte {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fdfdfb;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: 220px;
  padding-bottom: 80px;
}
.carte .titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 10px 20px;
  font-size: 1.1rem;
}
.carte .titre i {
  font-size: 1.4rem;
  padding-left: 10px;
  padding-right: 20px;
}
.carte .carte-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
}
.carte .carte-container .menu {
  padding-top: 15px;
}
.carte .carte-container .menu h2 {
  position: relative;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 10px 0px;
}
.carte .carte-container .menu .barre__verte {
  position: absolute;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  bottom: 5px;
  left: 0px;
}
.carte .pad-menu {
  display: flex;
  flex-direction: row;
  background: white;
  box-shadow: 1px 1px 5px #b8b8b8;
  border-radius: 10px;
  margin: 15px 0px;
  overflow: hidden;
  cursor: pointer;
}
.carte .pad-menu .mets {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  min-width: 0;
  position: relative;
}
.carte .pad-menu .mets h3 {
  padding-bottom: 5px;
  font-weight: 500;
}
.carte .pad-menu .mets p {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.carte .pad-menu .mets span {
  position: absolute;
  bottom: 0;
  right: -7px;
  font-weight: 400;
  padding: 10px;
}
.carte .pad-menu .check {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: all 0.5s ease;
}
.carte .pad-menu .check .outside {
  background-color: #99E2D0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.carte .pad-menu .check .outside i {
  color: white;
  overflow: hidden;
}
.carte .btn--gradient {
  margin-top: 40px;
  width: 60%;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
