$bg-light: rgba(221, 220, 220, 0.205);
$bg-mid: rgba(221, 220, 220, 0.404);
$bg-dark: rgb(51, 51, 51);

$color-light: rgba(0, 0, 0, 0.616);
$color-black: rgb(63, 63, 63);
$color-white: white;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bc: #fdfdfb;

$box-shadow: 1px 1px 3px grey;
$shadow-pad: 1px 1px 10px rgb(184, 184, 184);
$shadow-pad-plus: 2px 2px 20px rgb(184, 184, 184);
$shadow-mets: 1px 1px 5px rgb(184, 184, 184);

$phone_min_res: 400px;
$phone_patch: 500px;
$landscape_phone: 680px;

$tablet_min_res: 681px;
$tablet_max_res: 900px;
$tablet_patch: 960px;
$landscape_tablet: 1030px;

$desktop_patch: 1220px;
$desktop_patch2: 1850px; 
$desktop_min_res: 1100px;
$desktop_max_res: 1920px;

$ultra-hd-res_max: 3840px;
$ultra-hd-res_min: 1921px;