// Anim Coeur
.restaurants i {
    &:hover {
        animation: heart-fill 0.3s forwards;
    }
}

@keyframes heart-fill {
    100% {
        transform-origin: top;
        background: linear-gradient($color-primary, $color-secondary);
        background-clip: padding-box;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        cursor: pointer;
    }
}

#heart:checked ~ i {
    animation: heart-fill 0.3s forwards;
}


// Anim loader accueil
$spin-dur: 2s;
$spin-delay: 0.3s;
$container-delay: $spin-dur + $spin-delay;

.container {
    animation: container 0.3s $container-delay backwards cubic-bezier(.68,.1,.48,.95);
}

@keyframes container {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loader {
    animation: loader $spin-dur both;
}
.circle {
    animation: circle $spin-dur ease-in-out;
}
@keyframes loader {
    0% {
        transform: rotate(0deg) scale(0.2);
    }
    99% {
        opacity: 1;
    }
    100% {
        transform: rotate(360deg) scale(0.5);
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        background-color: $color-primary;
    }
    50% {
        background-color: $color-primary;
    }
    60% {
        background-color: $color-tertiary;
    }
    99% {
        opacity: 1;
    }
    100% {
        background-color: $color-tertiary;
        opacity: 0;
    }
}

// Anim menu
.mets:active ~ .check {
    animation: outside 1s forwards;
}
.mets:not(:active) ~ .check {
    animation: outside-off 1s forwards;
}
.mets:active ~ .check i {
    animation: icon 1s forwards;
}
.mets:not(:active) ~ .check i {
    animation: icon-off 0.5s forwards;
}

@keyframes outside {
    from {
        transform: translateX(100%);
        width: 0%;
    }
    to {
        transform: translateX(0%);
        width: 25%;
    }
}
@keyframes outside-off {
    from {
        transform: translateX(0%);
        width: 25%;
    }
    to {
        transform: translateX(100%);
        width: 0%;
    }
}
@keyframes icon {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
@keyframes icon-off {
    from {
        transform: rotateZ(360deg);
    }
    to {
        transform: rotateZ(0deg);
    }   
}

$num-pads: 10;
$pads-dur: 1.5s;
$pads-delay: $pads-dur / $num-pads;
.pad-menu {
    animation: shape $pads-dur backwards;
    @for $i from 1 through $num-pads {
        &--#{$i} {
            animation-delay: $pads-delay * $i;
        }
    }
}

@keyframes shape {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}